
/* ------------------- Responsivo ------------------ */
@media screen and (max-width: 1280px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    main {
        flex-direction: column;
    }

    .section-inicio > div {
        grid-template-columns: 1fr;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .rodape {
        grid-template-columns: 1fr;
    }

    .contact h2 {
        font-size: 24px;
    }

    .lista {
        font-size: 16px;
    }
}
